$color1: #1e1e1e;
$color2: #ff6527;
$color3: #f2f2f2;
$color4: #999999;
$color5: #383838;
$borde_ingreso: #a2a2a2;

@mixin gradiente {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 27%,
    rgba(140, 140, 140, 1) 100%
  );
}

* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  // justify-content: center;
}

a {
  text-decoration: none;
}

h2 {
  color: $color2;
  font-family: "Josefin Sans", sans-serif;
  font-weight: normal;
}

section {
  width: 95%;
  margin: 0 auto;
}

header,
nav {
  padding: 0px 30px;
}

header {
  background-color: $color1;
  border-top: 3px solid $color2;
}

nav {
  background-color: $color2;
  display: flex;
  font-weight: bold;
  justify-content: flex-start;

  .menu_items {
    padding: 10px;
  }

  a {
    color: white;
  }
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid $color2;
  margin-top: 20px;
  padding-top: 20px;

  .direccion {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px 30px;

    p span {
      color: $color2;
      font-weight: bold;
    }
  }

  .derecha img {
    transform: rotate(180deg);
  }
}
